---
---

@import "{{ site.theme }}";

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* make image circular */
  object-fit: cover; /* image covers the box without distortion */
  display: block;
  margin: 0 auto 15px; /* Centers logo and adds bottom margin */
}

.centered {
  text-align: center;
}
